@page
<h2>Хотели в северна България</h2>
<a asp-page="/Hotels/BulgariaNorthEast" class="btn btn-primary">Виж хотели в източната част</a>
<a asp-page="/Hotels/BulgariaNorthCenter" class="btn btn-primary">Виж хотели в средната част</a>
<a asp-page="/Hotels/BulgariaNorthWest" class="btn btn-primary">Виж хотели в западната част</a>

