@page
<h2>Хотели в България</h2>
<a asp-page="/Hotels/BulgariaNorth" class="btn btn-primary">Виж хотели в северна България</a>
<a asp-page="/Hotels/BulgariaSouth" class="btn btn-primary">Виж хотели в южна България</a>
