@page
<h2>Хотели в източната част на северна България</h2>
<a asp-page="/Hotels/Varna" class="btn btn-primary">Виж хотели във Варна</a>
<a asp-page="/Hotels/Dobrich" class="btn btn-primary">Виж хотели в Добрич</a>
<a asp-page="/Hotels/Shumen" class="btn btn-primary">Виж хотели в Шумен</a>

