@page
@model Hotels.ListModel
@{
    ViewData["Title"] = "Hotels";
}
<h1>Hotels</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

@foreach (var Hotel in Model.Hotels)
{
    <partial name="_Summary" model="Hotel" />
}

<a class="btn btn-lg"
   asp-page="./Upload">
    <i class="glyphicon glyphicon-upload"></i>
</a>
<a asp-page=".\Edit" class="btn btn-primary">Add New</a>


@section footer {
    <div>
        @Model.Message
    </div>
}