@page
<h2>Хотели във Варна</h2>
<a asp-page="/Hotels/VarnaLux" class="btn btn-primary">Виж луксозни хотели във Варна</a>
<a asp-page="/Hotels/VarnaMid" class="btn btn-primary">Виж среден клас хотели във Варна</a>
<a asp-page="/Hotels/VarnaLow" class="btn btn-primary">Виж бюджетни хотели във Варна</a>

